{% for contentBlock in page.maincontentblocks|sort_by_attribute('ordering') %}
    {% if contentBlock.publishedState == 1 %}
		{% if contentBlock.contentType == 'image' %}
			{% if contentBlock.imageFiles|length > 1 %}
				<div id="slideshow_{{ contentBlock.id}}" class="slideshow">
					{% for imageBlock in contentBlock.imageFiles|sort_by_attribute('imageOrder') %}
						{% media imageBlock.imageFile.id, contentBlock.mediaSize with {'alt': contentBlock.title, 'title': '' } %}
					{% endfor %}
				</div>
			{% else %}
				{% for imageBlock in contentBlock.imageFiles|sort_by_attribute('imageOrder') %}
					{% media imageBlock.imageFile.id, contentBlock.mediaSize with {'alt': contentBlock.title, 'title': '' } %}
				{% endfor %}
			{% endif %}
		{% endif %}
    {% endif %}
{% endfor %}
