{% for spotFilter in pageItem.spotFilters if spotFilter.filterCategory == 'budjet' %}
{% if loop.index0 == 0 %}
 <p class="featuredTagsHeading">Wonderful in</p>
 <span class="featuredTags">
 {% endif %}
    {% if loop.index0 < 3 %}
    <span class="tagIcon tagIcon{{ loop.index0 }}">
    {% if spotFilter.filterIcon.id is not empty %}
        {% media spotFilter.filterIcon.id, 'small' with {'alt': spotFilter.title, 'title': spotFilter.title} %}
    {% endif %} 
    </span>
    {% endif %}
{% endfor %} 
</span>    