{% if page.mapLongitude is not empty and page.mapLatitude is not empty %}
<div id="mapModal" class="reveal-modal medium" data-reveal>
	
    <a href="#" title="close" class='close-reveal-modal'>&#215;</a>

	<div id="map-canvas"></div>
	
	<input type="hidden" value="{{ page.mapLatitude }}" id="mapLat" />
	<input type="hidden" value="{{ page.mapLongitude }}" id="mapLong" />
	<input type="hidden" value="{{ page.title }}" id="mapTitle" />
</div>
{% endif %}