{% if page.relatedDestination.alias is defined and page.relatedDestination.alias is not null and page.relatedDestination.title is defined and page.relatedDestination.title is not null %}
	<a class="spotDestinationLink" href="{{ url('DestinationBundle_page_normal', { 'alias': page.relatedDestination.alias }) }}" title="{{ page.relatedDestination.title }}">
		{{ page.relatedDestination.title }} 
	</a>
{% endif %}