{% if relatedDestinations is defined and relatedDestinations is not null %}
	{% for spot_destination in relatedDestinations %}
		<a class="spotDestinationLink" href="{{ url('DestinationBundle_page_normal', { 'alias': spot_destination.destination.alias }) }}" title="{{ spot_destination.title }}">
			{{ spot_destination.title }} 
		</a>
	{% endfor %}
{% endif %}