/* -----------------------------------------
	Foundation Styles Overrides
----------------------------------------- */

// Custom included Fonts
@font-face {
	font-family: 'burbank_big_condensed';
	src: url('../fonts/burbankbigcondensed-medium-webfont.eot');
	src: url('../fonts/burbankbigcondensed-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/burbankbigcondensed-medium-webfont.woff') format('woff'),
	url('../fonts/burbankbigcondensed-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gotham';
	src: url('../fonts/gothammedium-webfont.eot');
	src: url('../fonts/gothammedium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gothammedium-webfont.woff') format('woff'),
	url('../fonts/gothammedium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gotham_book';
	src: url('../fonts/GothamBook.eot');
	src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamBook.woff') format('woff'),
	url('../fonts/GothamBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

header, nav, article, footer, address, 
section, aside, hgroup, figure{
	display: block;
}

body, div, dl, dt, dd, ul, ol, li, pre, 
form, fieldset, p, blockquote, th, td {
}

h1, h2, h3, h4, h5, h6{
}

iframe { 
	left: 0; 
	border: none!important;
}

a{
}

a:hover{
}

.inv{ 
	position: absolute; 
	font-size: 0.5em; 
	font-size: 0.5rem; 
	left: -9999px;
}

.hidden{
	display: none!important;
	visibility: hidden!important;
}

img{ 
	border: none;
}

strong { 
	font-size: inherit;
	line-height: inherit;
	font-weight: bold;
}

table { 
	font-size: inherit; 
	float: left;
	border-spacing: 0!important;
	border-collapse: collapse!important;
}

td{ 
	text-align: center; 
}

.clearBoth{
	clear: both;
}

.gm-style img{
	width: auto;
	height: auto;
	max-width: none;
}

#map-canvas{
	width: 100%;
}

.clearBoth{
	clear: both;
}

[class*="column"] + [class*="column"]:last-child {
	float: left;
}

/*-------------------------------------------
	Website Body / Backgrounds
-----------------------------------------*/

body{
	width: 100%;
	min-width:320px;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../images/site_assets/bodyBg.jpg") 0 0 repeat #e5e5e5;
}

.superWrapper{
	width:100%;
	min-height:100%;
	min-width:320px;
	background: url("../images/site_assets/seaBg.png") 0 100% repeat-x;
}

.wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
}

.pageContents{
	min-height:300px;
}


/*-------------------------------------------
	Website Logo / Header
-----------------------------------------*/

header{
	position: relative;
	overflow: visible;
	background: $primary-color;
}

#logo{
	position: relative;
	z-index: 98;
	
	.logo{
		float: left;
		display: block;
		margin: rem-calc(30) 0;
		width: rem-calc(228);
		height: rem-calc(144);
		max-width: 100%;
		max-height: 100%;
	}
	
	a{
		display: block;
		width: 100%;
	}
	
	img{
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}

/*-------------------------------------------
	Navigation Menu Styles
-----------------------------------------*/

.top-bar{
	width: 100%;
	text-transform: uppercase;
	
	.level0 a{
		overflow: hidden;
		padding: 0 rem-calc(18)!important;
	}
}

/*-------------------------------------------
	Top Banner Slideshow
-----------------------------------------*/

.pageTopBanner {
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
    width: 100%;
}

/*-------------------------------------------
	Homepage Page styles
-----------------------------------------*/

.pageTitle{
	margin: 0 rem-calc(22)!important;	
}

.pageDescription{
	
	.row{
		background: $secondary-color;
		margin-bottom: rem-calc(48);
		padding: rem-calc(20);
		margin: 0 rem-calc(11)!important;
	}
}

.homepageListing{
	margin: rem-calc(22) 0!important;
	
	.homepageItem{
		margin: rem-calc(16) 0;
		
		h3{
			background: $primary-color;
			color: $white-color;
			margin: 0;
			line-height: 1.6;
			font-size: rem-calc(32);
			padding: 0 rem-calc(22);
			text-align: center;
			text-transform: uppercase;
			
			a{
				color: $white-color;
			}
			
			&:hover{
				color: $white-color;
			}
		}
		
		h5{
			margin: 0;
			color: $white-color;
			background: $primary-color;
		}
		
		.row{			
			background: $secondary-color;
			margin: 0!important;
		}
		
		.itemContents{
			padding: rem-calc(22);
			
			a{
				padding: 0!important;
				display: block;
				overflow: hidden;
				position: relative;
				
				img{
					display: inline-block;
					width: 100%;
					height: auto;
					color: $white-color;
					text-align: center;
					line-height: 1.6;
					font-family: $bold-font-family;
				}
				
				span{
					display: inline-block;
					width: 100%;
					background: $primary-color;
					color: $white-color;
					line-height: 1.2;
					font-size: rem-calc(14);
					padding: rem-calc(11);
				}
			}
			
			.readMoreImage{
				
				.introItemText{
					position: absolute;
					bottom: 0;
					left: 0;
					transform: translate(0, 100%);
					transition: all 0.4s linear 0s;					
				}
				
				.introItemTitle{
					transform: none;
					padding: 0;
					line-height: 1.4;
					font-size: rem-calc(16);
					font-family: $bold-font-family;
					margin-bottom: rem-calc(6);
				}
				
				&:hover{
					
					.introItemText{
						transform: translate(0, 0);
					}
				}			
				
				.introItemDesc{					
					display: inline-block;
					width: 100%;
					background: transparent;
					color: $white-color;
					line-height: 1.2;
					font-size: rem-calc(13);
					padding: 0;	
				}
				
				small{
					display: inline-block;
					width: 100%;
					margin-bottom: rem-calc(6);
					
					span{
						display: inline;
						width: auto;
						background: transparent;
						color: $white-color;
						line-height: 1.2;
						font-size: rem-calc(13);
						padding: 0;									
					}
				}
			}
		}
		
		.newsItem1 {
			margin-bottom: rem-calc(44);
		}	
	}	
	
	.homepageSpotsItem {
		
		.itemContents {
			padding-top:11%;
			padding-bottom:11%;
			
			.spotItem{
				margin: 0 rem-calc(6);
				
				h5{
					display: block;
					position: relative;
					width: 100%;
					height: auto;
					padding-top: 100%;
					border-radius: 50%;
					overflow: hidden;
					color: $white-color;
					background: $primary-color;
					text-transform: uppercase;
					overflow: hidden;
					font-family: $bold-font-family;
					
					a{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						padding: 0 5%!important;
						color: $white-color;
						
						span {
							position: relative;
							top: 25%;
							display: inline-block;
							text-align: center;
						}								
					}
					
					&:hover{
						color: $white-color;
					}
				}			
			}
		}			
	}
	
	.homepageBannersItem{
		//margin: 0!important;
		
		.collapse{
			background: transparent!important;
			
			.columns{
				padding: 0 rem-calc(11) 0 0!important;
				
				.readMoreImage{
					padding: 0!important;
					
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			
			.columns:nth-child(even){
				padding: 0 0 0 rem-calc(11)!important;
			}
		}
	}
}

/*-------------------------------------------
	Generic Page styles
-----------------------------------------*/ 

/* -----------------------------------------
	Filter form styles
----------------------------------------- */

#filterResultsFormHolder{
	margin-top: 28px;     
	position: relative;
	padding-bottom: 68px;
}

#filterResultsFormHolder h3{
	display:none;
}

#filterResultsFormHolder form{
	margin:0;
}

#filterResultsFormHolder .control-group{
	width: 100%;
	float: left;
}

#filterResultsFormHolder label{
	font-size: 16px;
	line-height: 20px;
	margin-bottom:12px;
	text-transform: uppercase;
	color: #052763;
	cursor: default;
}

#filterResultsFormHolder .controls label{
	font-size: 0.9285em;
	font-size: 0.9285rem;
	line-height: 1.285em;
	line-height: 1.285rem;
	text-transform: none;
	color: #052763;
	cursor: pointer;
	margin-bottom: 0;
}

#filterResultsForm .formBtns {
	float: none;
	position: absolute;
	bottom: 22px;
	right: 0;
	width: 25%;
}

#filterResultsForm .formBtns .checkAllBox{
	float: left;
	margin-top: 4px;
}

#filterResultsForm #filterResultsBtn{
	float: right;
	background: url(../images/site_assets/indexSlideArrow.png) no-repeat 80% 50% #0A3982;
	border-radius: 16px 16px 16px 16px;
	color: #FFFFFF;
	display: block;
	font-family: "futuramedium", "Helvetica", Tahoma, Arial, sans-serif;
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	padding: 0 34px 0 16px;
	text-align: left;
	text-transform: uppercase;
	border: none;
	font-weight: normal!important;
}

#filterResultsForm #filterResultsBtn:hover{
	cursor: pointer;
	background: url(../images/site_assets/indexSlideArrow.png) no-repeat 80% 50% #011A48;    
}

#filterResultsForm .checkAllBox label{
	font-size: 0.9285em;
	font-size: 0.9285rem;
	line-height: 1.285em;
	line-height: 1.285rem;
	text-transform: none;
	color: #052763;
	cursor: pointer;
	margin-bottom:0;    
}

.customCheckBox input{
	display: none;
}

.lt-ie9 #filterResultsForm .customCheckBox input{
	display: inline-block;
	float: left;
	clear: left;
}

.customCheckBox input + label {
	padding: 3px 3px 3px 22px;
	padding: 3px 3px 3px 1.6rem;
	display: inline-block;
	position: relative;
	line-height: 18px;
	line-height: 1.285rem;
	clear: left;
	float: left;
}

.lt-ie9 .customCheckBox input + label{
	display: inline-block;
	float: left;
	clear: none;
}

.customCheckBox input + label:after {
	content: '\00a0';
	font-size: 14px;
	font-size: 1rem;
	position: absolute;
	top: 3px;
	left: 0px;
	color: #99a1a7;
	box-shadow: 0 1px 2px rgba(0,0,0,0), inset 0px 1px 3px rgba(13,59,131,0);
	border: none;
	-o-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	-o-border-radius: 0.6425rem;
	-moz-border-radius: 0.6425rem;
	-webkit-border-radius: 0.6425rem;
	border-radius: 0.6425rem;
	background-color: #FFF;
	width: 18px;
	height: 18px;
	line-height: 18px;
	width: 1.285rem;
	height: 1.285rem;
	line-height: 1.285rem;
	text-align: center;
}

.lt-ie9 .customCheckBox input + label:after{
	display: none;
}

.customCheckBox input:checked + label:after {
	content: '\2714';
	color: #FFF;
	box-shadow: 0 1px 2px rgba(0,0,0,0), inset 0px -15px 10px -12px rgba(0,0,0,0), inset 15px 10px -12px rgba(13,59,131,0);
	border: none;
	background-color: #052763;
}

#filterResultsForm .checkAllBox{
	
}

/* -----------------------------------------
	Sitemap page
----------------------------------------- */

.sitemapList ul{
}

.sitemapList li{
}

.sitemapList a, .sitemapList .separator{
}

.sitemapList ul ul li a{
}

/* -----------------------------------------
	Google Map
----------------------------------------- */

#map_canvas { 
	width:95%;
	height:100%;
	float:left;
}

/* -----------------------------------------
	Footer Styles
----------------------------------------- */

footer{
	margin-top:30px;
	background: $primary-color;
	position: relative;
	overflow: hidden;
	
	#copyrights{
		text-align: center;
		font-size: rem-calc(12);
	}
	
	#footerNav{
		width: 100%;
		text-transform: uppercase;
		margin-top: rem-calc(36);

		.level0 a{
			overflow: hidden;
			padding: 0 rem-calc(18)!important;
			color: $white-color;
			text-align: center;
		}
	}
}

/* ---------------------------------------------------
	Media Queries for mobile / tablets responsivenes
----------------------------------------------------- */

@media only screen and (device-width: 320px) and (orientation:portrait){
	
	html {
		font-size: 10px!important;
	}
}

@media only screen and (device-width: 320px) and (orientation:landscape){
	
	html {
		font-size: 11px!important;
	}
	
}

@media only screen and (max-width: 380px){
	
	html {
		font-size: 10px!important;
	}
}

@media only screen and (max-width: 498px){
	
	html {
		font-size: 10px!important;
	}
}

@media only screen and (max-width: 766px) and (min-width: 499px){
	
	html {
		font-size: 12px!important;
	}
}


@media only screen and (max-width: 767px){
	
	html {
		font-size: 13px!important;
	}
}

@media only screen and (device-width:768px) and (orientation:portrait){
	
	html {
		font-size: 12px!important;
	}
}

@media only screen and (device-width:768px) and (orientation:landscape){
	
	html {
		font-size: 13px!important;
	}
}

@media only screen and (max-width: 959px) and (min-width: 768px){
	
	html {
		font-size: 13px!important;
	}
}

@media only screen and (min-width: 960px) {
	html {
		font-size: 14px!important;
	}
}

@media print {
	div:not(.reveal-modal) {
		display: inherit !important;
	}
}