/* -----------------------------------------
	Foundation Styles Overrides
----------------------------------------- */

// Custom included Fonts
@font-face {
	font-family: 'burbank_big_condensed';
	src: url('../fonts/burbankbigcondensed-medium-webfont.eot');
	src: url('../fonts/burbankbigcondensed-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/burbankbigcondensed-medium-webfont.woff') format('woff'),
	url('../fonts/burbankbigcondensed-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gotham';
	src: url('../fonts/gothammedium-webfont.eot');
	src: url('../fonts/gothammedium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gothammedium-webfont.woff') format('woff'),
	url('../fonts/gothammedium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gotham_book';
	src: url('../fonts/GothamBook.eot');
	src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamBook.woff') format('woff'),
	url('../fonts/GothamBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

header, nav, article, footer, address, 
section, aside, hgroup, figure{
	display: block;
}

body, div, dl, dt, dd, ul, ol, li, pre, 
form, fieldset, p, blockquote, th, td {
}

h1, h2, h3, h4, h5, h6{
}

iframe { 
	left: 0; 
	border: none!important;
}

a{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

a:hover{
}

.inv{ 
	position: absolute; 
	font-size: 0.5em; 
	font-size: 0.5rem; 
	left: -9999px;
}

.hidden{
	display: none!important;
	visibility: hidden!important;
}

img{ 
	border: none;
}

strong { 
	font-size: inherit;
	line-height: inherit;
	font-weight: bold;
}

table { 
	font-size: inherit; 
	float: left;
	border-spacing: 0!important;
	border-collapse: collapse!important;
}

td{ 
	text-align: center; 
}

.clearBoth{
	clear: both;
}

.gm-style img{
	width: auto;
	height: auto;
	max-width: none;
}

#map-canvas{
	width: 100%;
}

.clearBoth{
	clear: both;
}

[class*="column"] + [class*="column"]:last-child {
	float: left;
}

.leftAlign{
	text-align: left!important;
}

.readMoreImage{
	padding: 0!important;
	width: 100%;
	display: inline-block;
	
	img{
		width: 100%;
		height: auto;
	}
}

/*-------------------------------------------
	Website Body / Backgrounds
-----------------------------------------*/

body{
	width: 100%;
	min-width:320px;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../images/site_assets/bodyBg.jpg") 0 0 repeat #e5e5e5;
}

.superWrapper{
	width:100%;
	min-height:100%;
	min-width:320px;
	background: url("../images/site_assets/seaBg.png") 0 100% repeat-x;
}

.wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
}

.pageContents{
	min-height:300px;
	
	h2{
		text-align: right;			
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 0.9;
		margin-top: rem-calc(20);
	}
	
	h3, h4{		
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}


/*-------------------------------------------
	Website Logo / Header
-----------------------------------------*/

header{
	position: relative;
	overflow: visible;
	background: $primary-color;
}

#logo{
	position: relative;
	z-index: 98;
	
	.logo{
		float: left;
		display: block;
		margin: rem-calc(30) 0;
		width: rem-calc(228);
		height: rem-calc(144);
		max-width: 100%;
		max-height: 100%;
	}
	
	a{
		display: block;
		width: 100%;
		-webkit-animation-duration: 1s!important;
		animation-duration: 1s!important;
		
		&:hover{
			-webkit-animation-name: pulse;
			animation-name: pulse;
		}
	}
	
	img{
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}

/*-------------------------------------------
	Navigation Menu Styles
-----------------------------------------*/

.top-bar{
	width: 100%;
	text-transform: uppercase;
	
	.level0 a{
		overflow: hidden;
		padding: 0 rem-calc(20)!important;
		letter-spacing: 2px;
		font-size: rem-calc(30);
		
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
	}
}

/*-------------------------------------------
	Top Banner Slideshow
-----------------------------------------*/

.pageTopBanner {
	margin: 0 auto rem-calc(24) auto;
	max-width: 1400px;
	position: relative;
	width: 100%;
	
	.bannerSlide {
		
		.orbit-caption{
			font-size: rem-calc(112);
			letter-spacing: 3px;
			font-family: $alt-font-family;
			color: $white-color;
			line-height: 1;
			width: 100%;
			padding: 0 10%;
			text-rendering: $header-text-rendering;
			text-align: right;
			text-transform: uppercase;
			position: absolute;
			bottom: 50%;
			left: 0;
			margin-bottom: rem-calc(-56);
			background: none transparent;
		}
	}
	
	.orbit-container .orbit-prev, 
	.orbit-container .orbit-next{
		
		&:hover{
			background: $primary-color;
			opacity: 0.6;					
		}
	}
	
	.orbit-bullets {
		top: rem-calc(-20);
		margin: 0;
		height: rem-calc(14);
		line-height: 1;
		z-index: 10;
		
		li{
			background: $secondary-color;
			height: rem-calc(14);
			width: rem-calc(14);
			cursor: pointer;
			font-size: rem-calc(1);
			line-height: rem-calc(14);
			text-align: center;
			
			&.active{
				background: $primary-color;	
			}
		}		
	}
}

/*-------------------------------------------
	Homepage Page styles
-----------------------------------------*/

.pageDescription{
	
	.row{
		background: $secondary-color;
		margin-bottom: rem-calc(48);
		padding: rem-calc(20);
		margin: 0 rem-calc(11)!important;
		color: $white-color;
	}
	
	h3{
		text-transform: none;
		color: $light-black-color;
	}
}

.homepageListing{
	margin: rem-calc(22) 0!important;
	
	.homepageItem{
		margin: rem-calc(16) 0;
		
		h3{
			background: $primary-color;
			color: $white-color;
			margin: 0;
			line-height: 1.6;
			font-size: rem-calc(32);
			padding: 0 rem-calc(22);
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;
			
			a{
				color: $white-color;
			}
			
			&:hover{
				color: $white-color;
			}
		}
		
		h5{
			margin: 0;
			color: $white-color;
			background: $primary-color;
		}
		
		.row{			
			background: $secondary-color;
			margin: 0!important;
		}
		
		.itemContents{
			padding: rem-calc(22);
			
			a{
				padding: 0!important;
				display: block;
				overflow: hidden;
				position: relative;
				
				img{
					display: inline-block;
					width: 100%;
					height: auto;
					color: $white-color;
					text-align: center;
					line-height: 1.6;
					font-family: $body-font-family;
				}
				
				span{
					display: inline-block;
					width: 100%;
					background: $primary-color;
					color: $white-color;
					line-height: 1.2;
					font-size: rem-calc(14);
					padding: rem-calc(11);
				}
			}
			
			.readMoreImage{
				
				.introItemText{
					position: absolute;
					bottom: 0;
					left: 0;
					margin-bottom: -50%;
					
					-webkit-transition: all 400ms ease-in-out;
					-moz-transition: all 400ms ease-in-out;
					-o-transition: all 400ms ease-in-out;
					transition: all 400ms ease-in-out;				
				}
				
				.introItemTitle{
					transform: none;
					padding: 0;
					line-height: 1.4;
					font-size: rem-calc(16);
					font-family: $bold-font-family;
					margin-bottom: rem-calc(6);
				}
				
				&:hover{
					
					.introItemText{
						margin-bottom: 0;
					}
				}			
				
				.introItemDesc{					
					display: inline-block;
					width: 100%;
					background: transparent;
					color: $white-color;
					line-height: 1.2;
					font-size: rem-calc(13);
					padding: 0;	
				}
				
				small{
					display: inline-block;
					width: 100%;
					margin-bottom: rem-calc(6);
					
					span{
						display: inline;
						width: auto;
						background: transparent;
						color: $white-color;
						line-height: 1.2;
						font-size: rem-calc(13);
						padding: 0;									
					}
				}
			}
		}
		
		.newsItem1 {
			margin-bottom: rem-calc(41);
		}	
	}	
	
	.homepageSpotsItem {
		
		.itemContents {
			padding-top:11%;
			padding-bottom:11%;
			
			.spotItem{
				margin: 0 rem-calc(6);
				
				h5{
					display: block;
					position: relative;
					width: 100%;
					height: auto;
					padding-top: 100%;
					border-radius: 50%;
					overflow: hidden;
					color: $white-color;
					background: $primary-color;
					text-transform: uppercase;
					overflow: hidden;
					font-family: $body-font-family;
					
					a{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						padding: 0 5%!important;
						color: $white-color;
						
						span {
							position: relative;
							top: 25%;
							display: inline-block;
							text-align: center;
						}								
					}
					
					&:hover{
						color: $white-color;
					}
				}			
			}
		}			
	}
	
	.homepageBannersItem{
		//margin: 0!important;
		
		.collapse{
			background: transparent!important;
			
			.columns{
				padding: 0 rem-calc(11) 0 0!important;
			}
			
			.columns:nth-child(even){
				padding: 0 0 0 rem-calc(11)!important;
			}
		}
	}
}

/*-------------------------------------------
	Generic Page styles
-----------------------------------------*/ 



/*-------------------------------------------
	Destination Page styles
-----------------------------------------*/

.destinationList{
	margin-bottom: rem-calc(30)!important;
	
	.destination_cat_pageItem {
		margin-bottom: rem-calc(40);
		
		h3{	
			color: $white-color;
			background: none $primary-color;
			margin: 0;
			text-align: center;
			padding: 0 10%;
			line-height: 1.8;
			
			-webkit-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-o-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
			
			a{
				color: $white-color;				
			}			
		}
		
		&:hover{
			
			h3{
				background: none $secondary-color;				
			}
		}
	}
	
	.isRound{
		display: inline-block;
		text-align: center;
		color: $white-color;
		background-color: $secondary-color;	
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		width: 90%;
		height: auto;
		padding-top: 84%;
		border: 4px solid $primary-color;
		
		.roundTitle{
			display: inline-block;
			height: 100%;
			width: 100%;
			padding: 10%;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			font-size: rem-calc(28);
			line-height: 1.15;
			letter-spacing: 2px;
			font-family: $alt-font-family;
			border-radius: 50%;
			overflow: hidden;
			
			.verticalCenterer{
				display: table;
				height: 100%;
				width: 100%;
				-webkit-box-sizing: content-box;
				-moz-box-sizing: content-box;
				box-sizing: content-box;
				
				span{
					display: table-cell;
					vertical-align: middle;
					-webkit-box-sizing: content-box;
					-moz-box-sizing: content-box;
					box-sizing: content-box;
				}
				
			}
		}
		
		&:hover, &:focus {
			color: $white-color;
			background-color: $dark-gray-color;
			border-color: $dark-gray-color;
		}		
	}
}

.destinationListBelow {
	
	.pageDescription{
		padding: 0;
	}	
}

.destinationTopText  {
	
	&.pageDescription{
		padding: 0;
		margin-bottom: rem-calc(30);
	}	
}

.destinationArticlePage{
	
	h2{
		color: $dark-gray-color;
		line-height: 0.9;
	}
	
	h3{
		font-size: rem-calc(54);
		line-height: 1;
	}
	
	h5{
		display: inline-block;
		width: 100%;
		font-size: rem-calc(34);
		line-height: 1;
		color: $dark-gray-color;
		margin-bottom: rem-calc(14);
		
		a {
			color: $dark-gray-color;
			
			&:hover, &:focus{
				color: $primary-color;
				
			}
		}		
	}
	
	.pageDescription{
		margin-bottom: rem-calc(44);		
	}
	
	.destinationSports{
		margin-bottom: rem-calc(30);		
	}
	
	.destinationDirectionsText{
		margin-bottom: rem-calc(30);		
	}
	
	.isRound{
		display: inline-block;
		text-align: center;
		color: $white-color;
		background-color: $secondary-color;	
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		width: 90%;
		height: auto;
		padding-top: 88%;
		margin-bottom: rem-calc(16);
		
		.roundTitle{
			display: inline-block;
			height: 100%;
			width: 100%;
			padding: 10%;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			font-size: rem-calc(22);
			line-height: 1.15;
			letter-spacing: 2px;
			font-family: $alt-font-family;
			border-radius: 50%;
			overflow: hidden;
			
			.verticalCenterer{
				display: inline-block;
				height: 100%;
				width: 100%;
				text-align: center;
				
				img{
					height: 60%;
					width: auto;
					display: inline-block;
					margin-bottom: 4%;
					font-size: rem-calc(1);
				}
				
				span{
					width: 100%;
					display: inline-block;
				}
				
			}
		}
		
		&:hover, &:focus {
			color: $white-color;
			background-color: $dark-gray-color;
			border-color: $dark-gray-color;
		}		
	}
}

/*-------------------------------------------
	News - Events Page styles
-----------------------------------------*/

.blog_articleItem {
	margin-bottom: rem-calc(80);
	
	h3 {
		font-size: rem-calc(60);
		line-height: 1;
		margin-top: rem-calc(12);
		
		a {
			color: $secondary-color;	
			
			&:hover {
				color: $primary-color;				
			}
		}
		
		small {
			color: $secondary-color;
			font-size: rem-calc(36);			
		}
	}
	
	.tagList{
		display: none;
	}
	
	p {
		font-size: rem-calc(20);
		font-family: $body-font-family;
		color: $dark-gray-color;
	}
	
	.readMore{
		text-align: right;
		margin: 0;
		
		a{
			font-size: rem-calc(26);
			font-family: $alt-font-family;
			color: $secondary-color;
			letter-spacing: 1px;
			display: inline-block;
			line-height: rem-calc(80);
			
			.hasArrow{
				
				&:after {
					content: "\279C"; // ➜
					color: $dark-gray-color;
				}
			}
			
			.isCyrcle{
				color: $white-color;
				border: 4px solid $white-color;
				overflow: hidden;
				display: inline-block;
				border-radius: 50%;
				font-size: rem-calc(46);
				line-height: rem-calc(70);
				text-align: center;
				width: rem-calc(80);
				height: rem-calc(80);
				background: none $secondary-color;
				vertical-align: middle;
				
				-webkit-transition: all 300ms ease-in-out;
				-moz-transition: all 300ms ease-in-out;
				-o-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;
			}
			
			&:hover, &:focus {
				color: $dark-gray-color;
				
				.isCyrcle{					
					color: $white-color;
					background: none $dark-gray-color;
				}
			}			
		}
	}	
}

/* -----------------------------------------
	Pagination
----------------------------------------- */

.paginationHolder {
	margin-bottom: rem-calc(60);
	
	ul{
		text-align: center;
		
		li{
			float: none;
			display: inline-block;
			height: auto;
			
			a {
				color: $white-color;
				font-size: rem-calc(22);
				letter-spacing: 1px;
				line-height: 1.4;
				font-family: $alt-font-family;
				background: none $secondary-color;
				
				&:hover, &:focus {
					color: $white-color;
					background: none $primary-color;				
				}
			}
		}		
		
		li.current{
			
			a{
				color: $white-color;
				background: none $dark-gray-color;
				font-weight: normal;
				
				&:hover, &:focus {
					color: $white-color;
					background: none $dark-gray-color;				
				}
			}
		}
	}
}

/* -----------------------------------------
	Filter form styles
----------------------------------------- */

#filterResultsFormHolder{
	margin-top: 28px;     
	position: relative;
	padding-bottom: 68px;
}

#filterResultsFormHolder h3{
	display:none;
}

#filterResultsFormHolder form{
	margin:0;
}

#filterResultsFormHolder .control-group{
	width: 100%;
	float: left;
}

#filterResultsFormHolder label{
	font-size: 16px;
	line-height: 20px;
	margin-bottom:12px;
	text-transform: uppercase;
	color: #052763;
	cursor: default;
}

#filterResultsFormHolder .controls label{
	font-size: 0.9285em;
	font-size: 0.9285rem;
	line-height: 1.285em;
	line-height: 1.285rem;
	text-transform: none;
	color: #052763;
	cursor: pointer;
	margin-bottom: 0;
}

#filterResultsForm .formBtns {
	float: none;
	position: absolute;
	bottom: 22px;
	right: 0;
	width: 25%;
}

#filterResultsForm .formBtns .checkAllBox{
	float: left;
	margin-top: 4px;
}

#filterResultsForm #filterResultsBtn{
	float: right;
	background: url(../images/site_assets/indexSlideArrow.png) no-repeat 80% 50% #0A3982;
	border-radius: 16px 16px 16px 16px;
	color: #FFFFFF;
	display: block;
	font-family: "futuramedium", "Helvetica", Tahoma, Arial, sans-serif;
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	padding: 0 34px 0 16px;
	text-align: left;
	text-transform: uppercase;
	border: none;
	font-weight: normal!important;
}

#filterResultsForm #filterResultsBtn:hover{
	cursor: pointer;
	background: url("../images/site_assets/indexSlideArrow.png") no-repeat 80% 50% #011A48;    
}

#filterResultsForm .checkAllBox label{
	font-size: 0.9285em;
	font-size: 0.9285rem;
	line-height: 1.285em;
	line-height: 1.285rem;
	text-transform: none;
	color: #052763;
	cursor: pointer;
	margin-bottom:0;    
}

.customCheckBox input{
	display: none;
}

.lt-ie9 #filterResultsForm .customCheckBox input{
	display: inline-block;
	float: left;
	clear: left;
}

.customCheckBox input + label {
	padding: 3px 3px 3px 22px;
	padding: 3px 3px 3px 1.6rem;
	display: inline-block;
	position: relative;
	line-height: 18px;
	line-height: 1.285rem;
	clear: left;
	float: left;
}

.lt-ie9 .customCheckBox input + label{
	display: inline-block;
	float: left;
	clear: none;
}

.customCheckBox input + label:after {
	content: '\00a0';
	font-size: 14px;
	font-size: 1rem;
	position: absolute;
	top: 3px;
	left: 0px;
	color: #99a1a7;
	box-shadow: 0 1px 2px rgba(0,0,0,0), inset 0px 1px 3px rgba(13,59,131,0);
	border: none;
	-o-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	-o-border-radius: 0.6425rem;
	-moz-border-radius: 0.6425rem;
	-webkit-border-radius: 0.6425rem;
	border-radius: 0.6425rem;
	background-color: #FFF;
	width: 18px;
	height: 18px;
	line-height: 18px;
	width: 1.285rem;
	height: 1.285rem;
	line-height: 1.285rem;
	text-align: center;
}

.lt-ie9 .customCheckBox input + label:after{
	display: none;
}

.customCheckBox input:checked + label:after {
	content: '\2714';
	color: #FFF;
	box-shadow: 0 1px 2px rgba(0,0,0,0), inset 0px -15px 10px -12px rgba(0,0,0,0), inset 15px 10px -12px rgba(13,59,131,0);
	border: none;
	background-color: #052763;
}

#filterResultsForm .checkAllBox{
	
}

/* -----------------------------------------
	Sitemap page
----------------------------------------- */

.sitemapList ul{
}

.sitemapList li{
}

.sitemapList a, .sitemapList .separator{
}

.sitemapList ul ul li a{
}

/* -----------------------------------------
	Google Map
----------------------------------------- */

#map_canvas { 
	width:95%;
	height:100%;
	float:left;
}

/* -----------------------------------------
	Footer Styles
----------------------------------------- */

footer{
	margin-top:30px;
	background: $primary-color;
	position: relative;
	overflow: hidden;
	color: $white-color;
	
	#copyrights{
		text-align: center;
		font-size: rem-calc(12);
	}
	
	#footerNav{
		width: 100%;
		text-transform: uppercase;
		margin-top: rem-calc(36);
		
		.level0 a{
			overflow: hidden;
			color: $white-color;
			text-align: center;
			padding: 0 rem-calc(20)!important;
			letter-spacing: 2px;
			font-size: rem-calc(30);
			
			-webkit-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-o-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
		}
	}
}

.contentFooter{
	text-align: center;
	margin-top: rem-calc(80)!important;
	
	h5{
		text-align: center;
		font-size: rem-calc(34);
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	
	h6{
		text-align: center;
		font-size: rem-calc(20);
		letter-spacing: 2px;
		color: #000;
		margin: rem-calc(20) 0 0 0;
		font-family: $body-font-family;
	}
	
	.isRound{
		display: inline-block;
		text-align: center;
		color: $white-color;
		border: 8px solid $secondary-color;
		background-color: $secondary-color;	
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		width: 60%;
		height: auto;
		padding-top: 52%;
		
		&.magazineLink {
			background: url("../images/site_assets/magazineIcon.png") no-repeat 50% 50% $secondary-color;	
		}
		
		&.mapLink {
			background: url("../images/site_assets/mapIcon.png") no-repeat 50% 50% $secondary-color;	
		}	
		
		&.addSpotLink {
			background: url("../images/site_assets/addSpotIcon.png") no-repeat 50% 50% $secondary-color;	
		}		
		
		span{
			display: inline-block;
			height: 100%;
			width: 100%;
			padding: 10%;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			font-size: rem-calc(34);
			line-height: 1.15;
			letter-spacing: 2px;
			font-family: $alt-font-family;
			border-radius: 50%;
			overflow: hidden;
			
			small{
				display: none;
			}
		}
		
		&:hover, &:focus {
			color: $white-color;
			background-color: $dark-gray-color;
			border-color: $dark-gray-color;
		}		
	}
	
	.smoIcons {
		display: inline-block;
		text-align: center;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		
		li{
			display: inline-block;
			padding: 0;		
			margin: 0 8px;	
			
			a{
				color: $white-color;
				border: 2px solid $white-color;
				overflow: hidden;
				display: inline-block;
				border-radius: 50%;
				font-size: rem-calc(22);
				line-height: rem-calc(48);
				text-align: center;
				width: rem-calc(54);
				height: rem-calc(54);
				background: none 50% 50% no-repeat $secondary-color;
				vertical-align: middle;
				
				span{
					display: none;
				}
				
				&:hover, &:focus {					
					color: $white-color;
					background-color: $dark-gray-color;
				}
			}
			
			.fbIcon{
				background-image: url("../images/site_assets/fbIcon.png");
			}
			
			.tweetIcon{
				background-image: url("../images/site_assets/tweetIcon.png");
			}
			
			.mailIcon{
				background-image: url("../images/site_assets/mailIcon.png");
			}
		}		
	}	
}

/* ---------------------------------------------------
	Media Queries for mobile / tablets responsivenes
----------------------------------------------------- */

@media only screen and (device-width: 320px) and (orientation:portrait){
	
	html {
		font-size: 10px!important;
	}
}

@media only screen and (device-width: 320px) and (orientation:landscape){
	
	html {
		font-size: 11px!important;
	}
	
}

@media only screen and (max-width: 380px){
	
	html {
		font-size: 10px!important;
	}
}

@media only screen and (max-width: 498px){
	
	html {
		font-size: 10px!important;
	}
}

@media only screen and (max-width: 766px) and (min-width: 499px){
	
	html {
		font-size: 12px!important;
	}
}


@media only screen and (max-width: 767px){
	
	html {
		font-size: 13px!important;
	}
}

@media only screen and (device-width:768px) and (orientation:portrait){
	
	html {
		font-size: 12px!important;
	}
}

@media only screen and (device-width:768px) and (orientation:landscape){
	
	html {
		font-size: 13px!important;
	}
}

@media only screen and (max-width: 959px) and (min-width: 768px){
	
	html {
		font-size: 13px!important;
	}
}

@media only screen and (min-width: 960px) {
	html {
		font-size: 14px!important;
	}
}

@media print {
	div:not(.reveal-modal) {
		display: inherit !important;
	}
}