
							<ul class="inline-list center headerSmo">
								<li>
									<a href="https://www.facebook.com/thegreek.spots" class="smoIcon fbIcon" title="Facebook" target="_blank"><span>Facebook</span></a>
								</li>
								<li>
									<a href="https://twitter.com/TheGreekSpots" class="smoIcon twitterIcon" title="Twitter" target="_blank"><span>Twitter</span></a>
								</li>
								<li>
									<a href="http://vimeo.com/thegreekspots" class="smoIcon vimeoIcon" title="Vimeo" target="_blank"><span>Vimeo</span></a>
								</li>
								<li>
									<a href="http://instagram.com/thegreekspots" class="smoIcon instagramIcon" title="Instagram" target="_blank"><span>Instagram</span></a>
								</li>
							</ul>