<nav class="top-bar contain-to-grid">
	<ul class="title-area">
		<li class="name"></li>
		<li class="toggle-topbar menu-icon">
			<a href="#">
				<span>Menu</span>
			</a>
		</li>
	</ul>
	<section class="top-bar-section">	
{{ knp_menu_render('main', {'template': 'MenuBundle:Menu:knp_menu.html.twig'}) }}
	</section>
</nav>
