
	<div class="columns large-6 small-6">
		<a href="{{ app.request.getBaseURL() }}/add-spot" title="Add A Spot" class="readMoreImage large-12 small-12">
			<img src="/images/site_assets/addSpotBanner.jpg" alt="Add A Spot" />
		</a>
	</div>
	<div class="columns large-6 small-6">
		<a href="{{ app.request.getBaseURL() }}/e-magazine" title="e-Magazine" class="readMoreImage large-12 small-12">
			<img src="/images/site_assets/magazineBanner.jpg" alt="e-Magazine" />
		</a>
	</div>