<a href="{{ admin.generateObjectUrl('duplicate', object) }}" class="duplicate_link" title="{% trans from 'SonataAdminBundle' %}duplicate_edit{% endtrans %}">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/application_double.png') }}" alt="{% trans from 'SonataAdminBundle' %}duplicate_edit{% endtrans %}" />
</a>